#link-join {
  padding: 5px 10px 0px; width:100%;
  position:absolute; top:4px; left:0px;
  text-align: center;
  a {
    color:white; font-family:sans-serif;
    text-decoration:none; font-size:1.6em;
  }
  // i {
  //   display:inline-block;
  //   margin: 0px 8px;
  //   width:16px; height:16px;
  //   border-radius:10px; background-color:rgb(255,148,10);
  // }
}

.faded {opacity:0.2;}

#vjing {
  position: absolute; top:0px; left:0px;
  width:100vw; height:90vh;
  display:none;
}