<!DOCTYPE html>
<html lang="en">
<head>
  <!--char set (lang above)-->
  <meta charset="utf-8">

  <!--device/browser shizzle-->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--meta content-->
  <link rel="shortcut icon" href="favicon.ico" />
  
  <meta name="author" content="Ruth John (@rumyra)">
  <meta name="dcterms.rightsHolder" content="Ruth John for Rumyra Ltd, United Kingdom, 2015">
  <title>Let's talk about MIDI!</title>

  <!--CHANGE THIS TO USE NPM-->
  <link rel="stylesheet" href="bower_components/reveal.js/css/reveal.css">
  <link rel="stylesheet" href="bower_components/reveal.js/css/theme/black.css" id="theme">
  <link rel="stylesheet" href="bower_components/reveal.js/lib/css/zenburn.css" id="theme">
  <script src="bower_components/reveal.js/js/reveal.js"></script>

  <link href="css/extraTalk.css" rel="stylesheet" type="text/css">
  <script src="https://js.pusher.com/3.0/pusher.min.js"></script>
  
</head>
<body class="talk">
  <div id="link-join">
    <p><a href="http://bit.ly/1H8N7wj">http://goo.gl/f8VNfc</a></p>
  </div>
  <div class="reveal">
    <div class="slides"><section>
        <section>
          <h2>Hello, my name is Ruth</h2>
          <h3>@rumyra</h3>
          <h3>I've given up on job titles</h3>
          <p class="fragment fade-in">http://goo.gl/f8VNfc</p>
          <aside class="notes">
            <p>Hi everyone, my names Ruth - you can find me on the interwebs as rumyra.</p>
            <p>I've given up on job titles - i've had a lot of them and right at this minute I am...</p>
            <p>This is a url - this will be important, so you might want to visit it, I'll keep it on the screen so you can see it. If you have newest chrome on latest ios or marshmallow I also have it on my physical web token, so it should just be alerted in your phone settings - if you have no idea what I'm talking about - come and talk to me later and I'll explain :)</p>
          </aside>
        </section>
        <section>
          <h2>Different - gif here</h2>
          <p class="fragment fade-in"></p>
          <aside class="notes">
            <p>So today I want to talk to you about something completely different -  something that you may or may not know anything about, regardless I hope it's Isomething that you will leave this talk knowing a lot more about and full of inspiration to use.</p>
          </aside>
        </section>
        <section>
          <h2>MIDI</h2>
          <p class="fragment fade-in"></p>
          <aside class="notes">
            <p></p>
          </aside>
        </section>
        <section>
          <h2>Crazy old skool website with crazy background playing music</h2>
          <p class="fragment fade-in"></p>
          <aside class="notes">
            <p>OK OK rule number one....</p>
          </aside>
        </section>
        <section>
          <h2>Same thing showing overlay - THIS IS NOT MIDI</h2>
          <p class="fragment fade-in"></p>
          <aside class="notes">
            <p>This is not MIDI. But you all knew that right? MIDI is not digital audio - so those sounds you hear, they can't be MIDI!</p>
          </aside>
        </section>
        <section>
          <h2>It's OK</h2>
          <p class="fragment fade-in"></p>
          <aside class="notes">
            <p>It's ok if you did think this was MIDI - it's a common misconception and to understand that conception we have to understand MIDI - so here goes</p>
          </aside>
        </section>
        <section>
          <!-- animate this -- >
          <h2>Music Instrument Digital Interface</h2>
          <p class="fragment fade-in"></p>
          <aside class="notes">
            <p>So yeh...</p>
          </aside>
        </section>
        <section>
          <!-- animate this -- >
          <h2>Music Instrument <span class="faded">Digital Interface</span></h2>
          <p class="fragment fade-in"></p>
          <aside class="notes">
            <p>Musical instrument bit - that bit gets everyone...</p>
          </aside>
        </section>
        <section>
          <!-- animate this -- >
          <h2><span class="faded">Music Instrument</span> Digital Interface</h2>
          <p class="fragment fade-in"></p>
          <aside class="notes">
            <p>It's this bit - Digital Interface - this is the really interesting bit.</p>
          </aside>
        </section>
        <section>
          <h2>MIDI Specification</h2>
          <p class="fragment fade-in">Define data protocol</p>
          <p class="fragment fade-in">Industry experts in 1983</p>
          <p class="fragment fade-in">MIDI Manufacturers Association</p>
          <aside class="notes">
            <p>So it's a technical specification - just like anything else. Made to define a data protocol so digital instruments & equipment could be compatible and talk to each other. Industry experts got together in 1982 and put it together in 1983.</p>
            <p>Think of the MMA like the W3C - it's a bunch of industry experts, with an invested interest in making a spec that suits everyones needs. Right. Simples.</p>
            <p>It all came about because of the rise of digital instruments - synthesizers, sequencers, digital keyboards etc...</p>
          </aside>
        </section>
        <!-- data from GM1 & 2 -->
        <section>
          <h2></h2>
          <p class="fragment fade-in"></p>
          <aside class="notes">
            <p></p>
          </aside>
        </section>
        <!-- confused yet -> example-->
        <section>
          <h2></h2>
          <p class="fragment fade-in"></p>
          <aside class="notes">
            <p></p>
          </aside>
        </section>
        <!-- it's up to us what kind of applause - SEAL APPLAUSE-->
        <section>
          <h2></h2>
          <p class="fragment fade-in"></p>
          <aside class="notes">
            <p></p>
          </aside>
        </section>
        <section>
          <h2></h2>
          <p class="fragment fade-in"></p>
          <aside class="notes">
            <p></p>
          </aside>
        </section>
        <section>
          <h2></h2>
          <p class="fragment fade-in"></p>
          <aside class="notes">
            <p></p>
          </aside>
        </section>
        <!-- introduce MIDI as data
        show instruments and the data they may produce - ie web api
        take them through other protocols along with apis - show control (animaiton) BLE (bluetooth) polyfonic (touch)
        IOT? Physical web
        Show how I use web midi in my vjing
        Why send MIDI data? because I can plug in a MIDI device and use the same thing I built. Also there's an android MIDI object now - which can turn any marshmallow device into a MIDI controller, so you can use that to power your web based software.
        Hey at the end of the day, naimation, offline, ES6 - what are we working towarsd apart from not learning anything native... amiright
      -->
        <section>
            <h2>MIDI</h2>
            <p class="fragment fade-in">Protocol standardised in 1983</p>
            <p class="fragment fade-in">Due to rise of electronic music & instruments</p>
            <p class="fragment fade-in">Data events = notation, pitch & velocity</p>
            <p class="fragment fade-in">Control signals = volume, panning, cues & clock signals</p>
          <aside class="notes">
            <p>MIDI - I know what you're thinking, we may be side tracking a little from JS, but bear with me.</p>
            <p>MIDI - Musical Instrument Digital Interface. A protocol standardised in 1983 by a panel of music industry representatives ★ - imagine that, a standardised format, decided by industry experts! (Maintained by MIDI Manufacturers Associations/MMA)</p>
            <p>★ Rise of digital/electronic instruments in the late 70's</p>
            <p>NOT audio itself, its data protocols to control that audio. Most common events carry data to specify notation, pitch & velocity, but also encorporates signals for volume, vinbrato, panning, cues & clock signals (that are used to sync tempo)</p>
            <p>I get this doesn't mean too much right now, so let's put this practically - little bit of context</p>
          </aside>
        </section>
        <section>
          <h2>MIDI instruments</h2>
          <h3>(aka controllers)</h3>
          <aside class="notes">
            <p>Such a huge range, you'll hear me refer to them as controllers a lot</p>
          </aside>
        </section>
        <section data-background="images/midiConts.jpg">
          <aside class="notes">
            <p>These are just some examples of MIDI instruments.</p>
            <p>Top: Keyboard, synth, drum kit - also drum machines. You can also get things like guitar pedals, clarinet/sax type thing.</p>
            <p><b>One thing to bear in mind</b> MIDI used to be expensive - the digitals intruments & controllers themselves ran into the hundreds if not thousands of pounds and DIN connectors were the data connectors of choice. This dictated in the computer world - expensive sound cards.</p>
            <p>Bottom: Examples of basic controller. Launchpad (one first USB) - next two similar price AKAI LPD8 & Korg NanoPad2. Last icon iDJ</p>
            <p>You can see why there's the MMA, making sure all the different manufacturers stay in line with the protocol</p>            
            <p>Why is any of this relevant to you? Well we have access to this, in the lovely form of a web MIDI api</p>
          </aside>
        </section>
        <section>
          <h2>Web MIDI API</h2>
          <pre><code data-trim>navigator.requestMIDIAccess({ sysex: false }).then(onMIDISuccess, onMIDIFailure);

function onMIDISuccess(midiControl) {
  var MIDI = midiControl;
  MIDI.inputs.forEach(function (input) {
    console.log(input.onmidimessage.data)
  }
}
          </code></pre>
          <p class="fragment fade-in">[144, 5, 64]</p>
          <aside class="notes">
            <p>Looks a little like this.</p>
            <p>Logging data from inputs - pads, dials, sliders</p>
            <p>Notation, pitch, velocity</p>
            <p>Data you receive from a device looks like this</p>
          </aside>
        </section>
        <section>
          <h2>Web MIDI API</h2>
          <p>Currently only supported by Chrome & Opera</p>
          <p class="fragment fade-in">Use with the Web Audio API</p>
          <p class="fragment fade-in">Need a MIDI controller:</p>
          <p class="fragment fade-in">AKAI LPD8</p>
          <aside class="notes">
            <p>It's only supported in Chrome & Opera and in working draft status with W3C. It's cool that we have it & we can play.</p>
            <p>So this is the most common use for the MIDI protocol, to use with digital audio to create sounds.</p>
            <p>You need a MIDI controller</p>
            <p>I made a video of a demo. I have an AKAI LPD8 - hooked it up to the audio api.</p>
          </aside>
        </section>
        <section data-state="playVid">
          <video src="video/akai.mp4" controls id="akai"></video>
          <aside class="notes">
            <p>So what I've done with this, is allocate occilated sounds, created with the audio api, to the synth pads on the controller. So I press them and I make sounds. They're pressure sensitive, so the harder I press the louder the sounds.</p>
            <p>I've also allocated some distortion to the dials, so when I play the sounds I can alter them</p>
            <p>I'm not an amazing musician - I can hold a beat, but I'm not amazing, I could use some help</p>
            <p>The other thing I was considering was does MIDI have to be hardware, considering it's just a data protocol, can we emulate that with software.</p>
          </aside>
        </section>
        <section>
          <h2>Party checklist</h2>
          <ul>
            <li>Music</li>
          </ul>
          <aside class="notes">
            <p>I'm not an amazing musician - I can hold a beat, but I'm not amazing, I could use some help</p>
            <p>The other thing I was considering was does MIDI have to be hardware, considering it's just a data protocol, can we emulate that with software.</p>
          </aside>
        </section>
        <section data-state="audioMidiDemo">
          <h2>Can we create one, <span class="fragment fade-in">giant, </span><span class="fragment fade-in">crowd sourced, </span><span class="fragment fade-in">emulated, </span><span class="fragment fade-in">MIDI controller?</span></h2>
          <audio controls src="drumbeat.mp3"></audio>
          <aside class="notes">
            <p>All those that accepted my invite, if you look back at your browser, you should see a mini version of a MIDI controller. One pad and one dial. A miniMIDI if you will.</p>
            <button>Play drums & record & stop both</button>
          </aside>
        </section>
        <section>
          <h1>Stop!</h1>
          <aside class="notes">
            <p></p>
          </aside>
        </section>
        <section data-state="stopAudio">
          <h2>Party checklist</h2>
          <ul>
            <li class="fragment fade-in">✓  Music</li>
          </ul>
          <aside class="notes">
            <p>Awesome - thank you everyone. The party already probably had the most important part and that's music.</p>
            <p>But the thing about MIDI (and I apologise to keep going on about it) was that really it is quite an awesome way to pass data around.</p>
            <p>Enter if you please the MIDI show control</p>
          </aside>
        </section>
        <section>
          <h2>MIDI Show Control (MSC)</h2>
          <p class="fragment fade-in">Extension of MIDI, using entertainment equipment to use the same protocol.</p>
          <p class="fragment fade-in">Think lighting desks, fireworks, fountains...</p>
          <aside class="notes">
            <p>MIDI is a cool data protocol - so what started happening is it started being used for more than just digital audio - other entertainment equip</p>
            <p>MSC enables ★ all types of equipment to communicate using MIDI, basically. The MMA approved this in 1991. So we're talking lighting desks, other stage controls. Firework displays. The fountains outside big hotels in Las Vegas - controlled by MIDI.</p>
            <p>So although this version of the protocol is made up of events such as go, stop, resume, load, fire, standby - it's actually still just MIDI data and thus you can use any of the MIDI controllers we saw earlier.</p>
            <p>So I would quite like some sort of visual show at my party</p>
          </aside>
        </section>
        <section>
          <h2>Party Checklist</h2>
          <ul>
            <li class="fragment fade-in">✓&nbsp;&nbsp;Music</li>
            <li class="fragment fade-in">&nbsp;&nbsp;&nbsp;Visuals</li>
          </ul>
          <aside class="notes">
            <p>Now just like we used the Audio API to create sound, we can use the animation API to create animations, to be controlled via MIDI.</p>
          </aside>
        </section>
        <section data-state="buildWall">
          <h2>Web Animation API</h2>
          <p class="fragment fade-in">CSS Animations, CSS Transitions & SVG Animations.</p>
          <p class="fragment fade-in">Separates Animation Model and Timing Model.</p>
          <aside class="notes">
            <p>The Animation API encorporates css anims, transitions and SVG animations. You call the animate method on a DOM element, pass in some params to change the values and it animates.</p>
            <p>You may be thinking why not just use CSS anims trans and svg anims - well you can, but the animation api also gives you a Timing Model Layer (it separates this from the animations layer), which gives you much more control & as animation is event based, this should probably sit in JS</p>
            <p>Now you may remember aaggess ago when you accepted my invite, that you entered your github username - this allowed me to grab your avatar...</p>
          </aside>
        </section>

        <section>
<pre><code data-trim>octocat.animate([
  {transform: 'rotate(0deg)'},
  {transform: 'rotate(180deg)'}
], {
    duration: 200,
    iterations: 1
});
          </code></pre>
        </section>

        <section data-state="visualMidiDemo">
          <aside class="notes">
            <p>Now, if you look at your browsers again the miniMidi is back, but this time we're gonna control the visuals.</p>
            <p>If you press the PAD your avatar should invert and if you turn the dial you should loop through the hue value</p>
            <p>So we can make this even better - what you didn't realise when you were making music earlier was that I was recording you. And didi I mention I'm a VJ</p>
            <p>I mix visuals - I wote software - I use iDJ controller</p>
            <p>Over view of software - it has two screens, picks up on music which generates visuals or animates those on screen, but also dictates the 'mixing' point so as I cross fade using the decks it should mix avatars</p>
          </aside>
        </section>

        <!-- <section data-state="backToTalk">
          <img src="images/idj.jpg" />
          <aside class="notes">
            <p>So time to drink yet? Nope still not time to drink unfortunetely</p>
            <p>I have a MIDI controller with me - it's this one - ICON iDJ. The reason I bought this is because I wanted to write a piece of software which allowed me to mix visuals in real time - in a browser</p>
            <p>So I did this</p>
            <p>I just wanted to show you a picture because you won't see what I'm doing...</p>
            <p>Software has two screens - allocated to each side of the controller - cross fader in the middle is used to mix</p>
            <p>Let's put everything we've learnt together</p>
            <p>Music u played is amazing - but we should probably get some club music up in this place</p>
          </aside>
        </section>

        <section data-state="visualMidiDemo"></section>

        <section data-state="backToTalk">
          <h2>JAVASCRIPT!</h2>
          <p class="fragment fade-in">Has just made a room full of musicians and visual artists!</p>
          <aside class="notes">
            <p></p>
          </aside>
        </section> -->

        <section>
          <h2>So what did we just see?</h2>
          <p class="fragment fade-in">MIDI - a great protocol</p>
          <p class="fragment fade-in">Web sockets - we're connected, in real time</p>
          <p class="fragment fade-in">Browser APIs and beyond - old, present & new technology</p>
        </section>


        <section>
          <h2>Browser APIs</h2>
          <div id="apiList" class="fragment fade-in">
            <p>Geolocation</p>
            <p>Web Animation</p>
            <p>Web Audio</p>
            <p>Ambient Light</p>
            <p>Media Stream</p>
            <p>Device Orientation</p>
            <p>Screen Orientation</p>
            <p>Web MIDI</p>
            <p>Proximity</p>
            <p>Battery Status</p>
            <p>Push Notifications</p>
            <p>Network Information</p>
            <p>File System</p>
            <p>Clipboard</p>
            <p>Full Screen</p>
            <p>Page Visibility</p>
            <p>Web Speech</p>
            <p>Gamepad</p>
            <p>Pointer Lock</p>
            <p>Alarm</p>
            <p>Vibration</p>
            <p>Bluetooth</p>
            <p>NFC</p>
          </div>
          <aside class="notes">
            <p>There are a load of cool new browser apis - here a list of just some of them - and I know you may not get a chance in your every work to use them in the same way we just all have</p>
  <p>But think a little bit harder about them for a second, think about completely different ways to use them - if it's all very confusing & overwhelming. It may not be part of your everyday work flow and you may not have a lot of spare time to be spending weekends building browser parties</p>
          </aside>
        </section>
        <section>
          <h2>I made a website for you</h2>
          <p class="fragment fade-in">browserapis.wtf</p>
          <aside class="notes">
            <p>I made a website for you. It lists browser apis, resources, links & code examples. But most importantly, or at least I think so, uses. It's open source, it's new so it needs work, content, help from you, send me a pull request</p>
            <p>I know some of this stuff maybe way in the future, but we should be keeping our ear to the ground with it. Who knows what you might discover. In the theme of a recent OxfordJS meetup - javascript is everywhere.</p>
          </aside>
        </section>
        <section data-state="endTalk">
          <h2>Thank you for coming to my party</h2>
          <h2>@rumyra</h2>
          <aside class="notes">
            <p></p>
          </aside>
        </section>

        <section>
          <h2>Credits</h2>
          <p><a href="http://codepen.io/Rumyra/pen/zvMeqb?editors=001">MIDI demo by Rumyra on Codepen</a></p>
          <p><a href="https://www.youtube.com/watch?v=B-UsdgZfiTQ">Drum track</a></p>
          <p><a href="http://codepen.io/jmichaliga/pen/lFGza?editors=001">Dial hacked from a codepen by Justin Michaliga</a></p>
        </section>

    </section></div>
  </div>

  <div id="vjing">
    <section class="screen-left">
      <div id="avatar-wall"></div>
      <div class="random"><img src="" /></div>
      <div class="video">
        <video id="video-one" autoplay loop>
          <source src="video/remy.mp4" type="video/mp4">
        </video>
      </div>
      <div class="chris"><img src="images/codepo8_400x400.png" id="codepo8" /></div>
    </section>
    <section class="screen-right">
      <div class="random"><img src="" /></div>
      <div class="video">
        <video id="video-two" autoplay loop>
          <source src="video/he-man.mp4" type="video/mp4">
        </video>
      </div>
      <div id="abstract"><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i></div>
    </section>
    <button id="play-audio">play</button>
    <audio id="simon" src="Guilt.mp3" loop></audio>
  </div>

<div id="pusher" data-key="{{PUSH_KEY}}"></div>
<script src="bower_components/reveal.js/plugin/notes/notes.js"></script>
<script src="bower_components/reveal.js/plugin/highlight/highlight.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<script src="audioVisual.js"></script>
<script src="demos.js"></script>
<script type="text/javascript">

  var linkJoin = document.getElementById('link-join'),
    allVids = document.getElementsByTagName('video'),
    vjDiv = document.getElementById('vjing'),
    avatarWall = document.getElementById('avatar-wall'),
    playButton = document.getElementById('play-audio'),
    simonSoundEl = document.getElementById('simon'),
    leftScreen = document.getElementsByClassName('screen-left')[0],
    rightScreen = document.getElementsByClassName('screen-right')[0],
    leftRand = leftScreen.getElementsByClassName('random')[0],
    rightRand = rightScreen.getElementsByClassName('random')[0],
    threshold = 0,
    set = 'pics',

    audioAPI = new AudioContext,
    guiltMp3 = audioAPI.createMediaElementSource(simonSoundEl),
    analyserNode = audioAPI.createAnalyser(),
    frequencyData = new Uint8Array(1024);

  // establish connection with pusher
  var config = document.getElementById('pusher').dataset;
  var pusher = new Pusher(config.key, {encrypted:true});

  Pusher.channel_auth_endpoint = 'http://39367a56.ngrok.io/pusher/auth';
  pusher.connection.bind('state_change', function(states) {
      console.log("Pusher's current state is " + states.current);
  });

  // subscribe to channel
  var channel = pusher.subscribe('private-party_channel');

  channel.bind('pusher:subscription_succeeded', function() {
    console.log('subscription succeeded');
});

  // callback on event
  channel.bind('client-send_to_talk', function(data) {
    console.log(data.midi_data);
  });

  
  // event binding~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  // user accepts invite
  var allUsers = [], userData = {}, octocatNum = 0, allNames = [];

  channel.bind('client-register_user', function(data) {
    if (!include(allNames,data.userId)) {
      allUsers.push({'name': data.userId, 'image': data.userAvatar});
      allNames.push(data.userId);
    }
    var iEl = document.createElement("i");
    linkJoin.getElementsByTagName('p')[0].appendChild(iEl);
  });

  function include(arr,obj) {
    return (arr.indexOf(obj) != -1);
  }

  // create pics of everyone
  function buildAvatarWall() {
    var allImages = '';
    for (i=0; i<allUsers.length; i++) {
      allImages += '<img src="'+allUsers[i].image+'" id="'+allUsers[i].name+'" />'
    }
    avatarWall.innerHTML = allImages;
  }

  // Reveal~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Reveal.initialize({

  // Display controls in the bottom right corner
  controls: true,

  // Display a presentation progress bar
  progress: true,

  // Display the page number of the current slide
  slideNumber: true,

  // Push each slide change to the browser history
  history: true,

  // Enable keyboard shortcuts for navigation
  keyboard: true,

  // Transition style
  transition: 'fade', // none/fade/slide/convex/concave/zoom

  // Transition speed
  transitionSpeed: 'default', // default/fast/slow

  // Transition style for full page slide backgrounds
  backgroundTransition: 'default', // none/fade/slide/convex/concave/zoom

  // Number of slides away from the current that are visible
  viewDistance: 3,

  // Parallax background image
  parallaxBackgroundImage: '', // e.g. "'https://s3.amazonaws.com/hakim-static/reveal-js/reveal-parallax-1.jpg'"

  // Parallax background size
  parallaxBackgroundSize: '', // CSS syntax, e.g. "2100px 900px"

  // Amount to move parallax background (horizontal and vertical) on slide change
  // Number, e.g. 100
  parallaxBackgroundHorizontal: '',
  parallaxBackgroundVertical: ''

});
// stream video for audio demo
  Reveal.addEventListener( 'playVid', function() {
    document.getElementById('akai').play();
  }, false );
  
  Reveal.addEventListener( 'audioMidiDemo', function() {
    // allVids[0].pause();
    // vidStream.stop();
    channel.trigger(
      'client-show_music',
      {
        "divId": "music-midi-control"
      }
    );
  }, false );

  Reveal.addEventListener( 'stopAudio', function() {
    channel.trigger(
      'client-stop_music',
      {
        "stopMusic": true
      }
    );
  }, false);

  Reveal.addEventListener( 'buildWall', function() {
    buildAvatarWall();
    linkJoin.style.display = "none";
  }, false );

  Reveal.addEventListener( 'visualMidiDemo', function() {
    vjDiv.style.display = 'block';
    channel.trigger(
      'client-show_visual',
      {
        "divId": "visual-midi-control"
      }
    );
    
  }, false );

  Reveal.addEventListener('backToTalk', function() {
    vjDiv.style.display = 'none';
  }, false );

  Reveal.addEventListener('endTalk', function() {
    channel.trigger(
      'client-end_talk',
      {
        "end_talk": true
      }
    );
  }, false );

channel.bind('client-invert', function(data) {
  avatarImg = document.getElementById(data.userId);
  if (data.invert) {
    invertImage(avatarImg);
  } else {
    revertImage(avatarImg);
  }
});
channel.bind('client-rotate', function(data) {
  avatarImg = document.getElementById(data.userId);
  rotateImage(avatarImg, data.rotate);
});
function invertImage(imgEl) {
  imgEl.style.webkitFilter = 'invert(100%)';
}

function revertImage(imgEl) {
  imgEl.style.webkitFilter = 'invert(0%)';
}

function rotateImage(imgEl, dialValue) {
  imgEl.style.transform = 'rotate('+(dialValue*2)+'deg)';
}

//VJING
analyserNode.fftSize = 2048;

var playGuilt = function playGuilt() {
  guiltMp3.connect(analyserNode);
  guiltMp3.connect(audioAPI.destination);
  analyserNode.connect(audioAPI.destination);
  simonSoundEl.play();
  flashImages();
  animateLights();
  // flashLights();
  // sizeCircles();
  // crazedCircles();
  mixScreens();
}
playButton.onclick = function() {
  if (simonSoundEl.paused) {
    playGuilt();
  } else {
    simonSoundEl.pause();
  }
}



</script>


</body>
</html>