<!DOCTYPE html>
<html lang="en">
<head>
  <!--char set (lang above)-->
  <meta charset="utf-8">

  <!--device/browser shizzle-->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--meta content-->
  <link rel="shortcut icon" href="favicon.ico" />
  
  <meta name="author" content="Ruth John (@rumyra)">
  <meta name="dcterms.rightsHolder" content="Ruth John for Rumyra Ltd, United Kingdom, 2015">
  <title>Let's talk about MIDI!</title>

  <!--CHANGE THIS TO USE NPM-->
  <link rel="stylesheet" href="reveal/css/reveal.css">
  <link rel="stylesheet" href="reveal/css/theme/sky.css" id="theme">
  <link rel="stylesheet" href="reveal/lib/css/zenburn.css" id="theme">
  <script src="reveal/js/reveal.js"></script>

  <link href="public/css/extraTalk.css" rel="stylesheet" type="text/css">
  <!--<script src="https://js.pusher.com/3.0/pusher.min.js"></script>-->
  
</head>
<body class="talk">
  <div class="reveal">
    <div class="slides">
      <section>
        <section>
          <h1>Let's Talk About MIDI</h1>
          <h2>Ruth John</h2>
        </section>
        <section>
          <h2>Hello, my name is Ruth</h2>
          <h3 class="fragment fade-in">@rumyra</h3>
          <aside class="notes">
            <p>Hi my names Ruth - I’m from the UK. I’m from a web development background, I currently work in research and development. You can find me on the internets as @rumyra</p>
          </aside>
        </section>
        <section>
          <h1>Let's Talk About MIDI</h1>
          <aside class="notes">
            <p>I came here today to talk to you about MIDI. It seems a strange topic, but one of the reasons I wanted to come and talk about it is to address a common misconception about MIDI, not just within the realms as what we do as developers but also in the wider world.</p>
          </aside>
        </section>
        <section data-background-video="public/media/cameronsworld.mp4">
          <p style="color:white;">cameronsworld.net</p>
          <h2 style="color:white;" class="fragment fade-in">THIS IS NOT MIDI</h2>
          <aside class="notes">
            <p>That “music” you hear, that’s not "MIDI". You can be forgiven for thinking it is and it was probably made with a piece of software that was MIDI enabled. But it’s not, the sounds you hear are digital audio.</p>
            <p>This is a real life - actually recent - website btw - you can find it on cameronsworld.net</p>
          </aside>
        </section>
        <section>
          <h2>Music Instrument Digital Interface</h2>
          <aside class="notes">
            <p>Let me elaborate. MIDI is intrinsically linked to music. MIDI itself stands for Music Instrument Digital Interface.</p>
          </aside>
        </section>
        <section>
          <h2>Music Instrument <span class="faded">Digital Interface</span></h2>
          <aside class="notes">
            <p> See that Music Instrument. So you can absolutely be forgiven for thinking its the sounds...</p>
          </aside>
        </section>
        <section>
          <h2><span class="faded">Music Instrument</span> Digital Interface</h2>
          <aside class="notes">
            <p>But the key, the bit that’s really MIDI and really interesting is this bit “Digital Interface”. MIDI is a digital interface, at it’s basic it’s a data protocol for MIDI enabled hardware & software to be compatible with other MIDI enabled hardware & software.</p>
          </aside>
        </section>

        <section>
          <h2>Original MIDI Specs (1983)</h2>
          <table>
            <tr><td><img class="plain" src="public/media/GMIDI.png" /></td>
              <td class="faded"><img class="plain" src="public/media/MIDIicon.png" /></td>
            <td class="faded"><img class="plain" src="public/media/din.png" /></td></tr>
          </table>
          <p><a href="https://www.midi.org/">midi.org</a></p>
          <aside class="notes">
            <p>The first MIDI specs - because it is a bunch of technical specifications, came about in 1983, after a bunch of industry experts, we’re talking music hardware manufacturers, other renowned industry experts, got together after the rise of analogue and digital instruments in the 70’s - we’re talking synthesisers and such - and decided it would be good to have a common standard for all these instruments to talk to each other. And be bought into recording studios etc and be able to be plugged into recording equipment and be able to be recorded etc…</p>
            <p>Especially with the digital equipment you can understand the frustrations with this not being possible. So the first MIDI specs involved A General MIDI Spec - which now has a lot more elements, more about this is a sec</p>
          </aside>
        </section>

        <section>
          <h2>Original MIDI Specs (1983)</h2>
          <table>
            <tr><td class="faded"><img class="plain" src="public/media/GMIDI.png" /></td>
              <td><img class="plain" src="public/media/MIDIicon.png" /></td>
            <td class="faded"><img class="plain" src="public/media/din.png" /></td></tr>
          </table>
          <p><a href="https://www.midi.org/">midi.org</a></p>
          <aside class="notes">
            <p>A MIDI file format, now it’s usually part of another file format and there are loads.</p>
          </aside>
        </section>

        <section>
          <h2>Original MIDI Specs (1983)</h2>
          <table>
            <tr><td class="faded"><img class="plain" src="public/media/GMIDI.png" /></td>
              <td class="faded"><img class="plain" src="public/media/MIDIicon.png" /></td>
            <td><img class="plain" src="public/media/din.png" /></td></tr>
          </table>
          <p><a href="https://www.midi.org/">midi.org</a></p>
          <aside class="notes">
            <p>And a connector specification. The DIN connector. Which at the time was important, but now is very much being superseeded by USB, serial, and we’ll see later wireless is coming in with Bluetooth.</p>
            <p>I’m not going to go into every single spec, we simply don’t have enough time and also there’s parts that are more relevant to us as developers which you will see. If you want to find out more all the spec docs are on www.midi.org.</p>
          </aside>
        </section>

        <section>
          <h2>Original MIDI Specs (1983)</h2>
          <table>
            <tr><td><img class="plain" src="public/media/GMIDI.png" /></td>
              <td class="faded"><img class="plain" src="public/media/MIDIicon.png" /></td>
            <td class="faded"><img class="plain" src="public/media/din.png" /></td></tr>
          </table>
          <p><a href="https://www.midi.org/">midi.org</a></p>
          <aside class="notes">
            <p>So I’m going to start with General MIDI - 1 was updated to 2 in the 90s. It’s basically just the jump from html4 to html5 - there was better hardware, better software, they added more to the spec. There is also a GM Light spec for ‘low powered mobile devices’ (pic of old handset) I’m pretty sure the phones in your hands can run GM2 we’re good :)</p>
          </aside>
        </section>
        
        <section>
          <h2>Core of MIDI: Messages</h2>

          <p class="fragment fade-in">General MIDI = Channel Messages & System Messages</p>

          <p class="fragment fade-in">Channel messages transmitted on individual channels - depict note on/off, pressure, program change etc...</p>
          <aside class="notes">
            <p>The spec comes can be grouped into two distinct parts. Channels and system level and because it’s a data protocol it’s just specs for messages - data messages.</p>
            <p>The channels part of the general MIDI spec describes what you’ve just seen - it’s about note on, note off, velocity (how hard you press), and which frequency is playing, which note, C, D, E etc…</p>
          </aside>
        </section>

        <section>
          <h2>You will need</h2>
          <ol>
            <li>A device</li>
            <li>A modern browser</li>
            <li><a href="http://thisurl.com">http://thisurl.com</a></li>
          </ol>
          <aside class="notes">
            <p>The easiest way for me to explain this to you is for me to illustrate this to you. Let’s take probably one of the most common MIDI enabled instruments - a keyboard.</p>
          </aside>
        </section>

        <section>
          <h2>Demo</h2>
          <p>Hex data</p>
          <aside class="notes">
            <p>Now hex data - however cool it is, it’s not very readable and not the best to code with. The Web MIDI API very lovingly turns it into decimal values for us.</p>
            <p>So let’s take a look at the API because this is really what we as divs are interested in.</p>
          </aside>
        </section>




        <section>
          <h2>Web MIDI API</h2>
          <pre><code data-trim>navigator.requestMIDIAccess({ sysex: false }).then(onMIDISuccess, onMIDIFailure);

function onMIDISuccess(midiControl) {
  var MIDI = midiControl;
  MIDI.inputs.forEach(function (input) {
    console.log(input.onmidimessage.data)
  }
}
          </code></pre>
          <aside class="notes">
            <p>So we can get this data - in a browser... we plug in a keyboard let's say</p>
            <p>This code logs data from inputs - pads, dials, sliders</p>
            <p>Notation, pitch, velocity</p>
            <p>GO BACK TO URL</p>
          </aside>
        </section>

        <section>
          <h2>MIDI Demo</h2>
          <aside class="notes">
            <p></p>
          </aside>
        </section>

        <section>
          <h2>[144, 60, 100]</h2>
          <p class="fragment fade-in">[Message type (Note on) & Channel, Note, Velocity/Pressure]</p>
          <h2 class="fragment fade-in">[128, 60, 64]</h2>
          <p class="fragment fade-in">[Message type (Note off), Note, Velocity/pressure]</p>
          <aside class="notes">
            <p>the first byte 144 is the message type and channel, 144 is 90 in hex and the 9 says it's a 'Note on' message and the 0 is the channel number.  
A 'Note on' message has two data bytes, the first is the 'key number' which I'm guessing is the note number, so 60 would be C
the second is 'note on velocity' and this has a value of 100, (I'm guessing this means the rate at which the note is turned on)</p>
          </aside>
        </section>

        <section>
          <h2>System Messages</h2>
          <p class="fragment fade-in">Real time messages - Timing clock, start, continue, stop, active sensing, system reset.</p>
          <p class="fragment fade-in">Common messages - Timing code, position pointer, select, request</p>
          <p class="fragment fade-in">Sytem exclusive messages <code>sysex</code></p>
          <p class="fragment fade-in">Pertinant to extentions of the spec</p>
          <aside class="notes">
            <p></p>
          </aside>
        </section>        
        
        
        <section>
          <h2>Extentions on the spec</h2>
          <p class="fragment fade-in">MIDI Machine Control</p>
          <p class="fragment fade-in">MIDI Show Control</p>
          <aside class="notes">
            <p></p>
          </aside>
        </section>

        <section>
          <h2>Specs to look out for</h2>
          <p class="fragment fade-in">Polyfony</p>
          <p class="fragment fade-in">BLE</p>
          <aside class="notes">
            <p></p>
          </aside>
        </section>


        <section>
          <h2>The MIDI world is your browser</h2>
          <p class="fragment fade-in">Also hardware</p>
          <aside class="notes">
            <p></p>
          </aside>
        </section>
        <section>
          <h2>Thank you</h2>
          <p>@rumyra</p>
          <aside class="notes">
            <p></p>
          </aside>
        </section>

        <section data-background="public/media/midiConts.jpg">
          <aside class="notes">
            <p>These are just some examples of MIDI instruments.</p>
            <p>Top: Keyboard, synth, drum kit - also drum machines. You can also get things like guitar pedals, clarinet/sax type thing.</p>
            <p><b>One thing to bear in mind</b> MIDI used to be expensive - the digitals intruments & controllers themselves ran into the hundreds if not thousands of pounds and DIN connectors were the data connectors of choice. This dictated in the computer world - expensive sound cards.</p>
            <p>Bottom: Examples of basic controller. Launchpad (one first USB) - next two similar price AKAI LPD8 & Korg NanoPad2. Last icon iDJ</p>
            <p>You can see why there's the MMA, making sure all the different manufacturers stay in line with the protocol</p>            
            <p>Why is any of this relevant to you? Well we have access to this, in the lovely form of a web MIDI api</p>
          </aside>
        </section>
        <section>
          <h2>Core of MIDI: Messages</h2>

          <p class="fragment fade-in">General MIDI = Channel Messages & System Messages</p>

          <p class="fragment fade-in">Channel messages transmitted on individual channels - depict note on/off, pressure, program change etc...</p>

          <p class="fragment fade-in">System messages are system wide - timing signals, start, continue & stop, system reset etc...</p>
          <aside class="notes">
            <p>The spec comes can be grouped into two distinct parts. Channels and system level and because it’s a data protocol it’s just specs for messages - data messages.

The channels part of the general MIDI spec describes what you’ve just seen - it’s about note on, note off, velocity (how hard you press), and which frequency is playing, which note, C, D, E etc…</p>
          </aside>
        </section>

      </section>
    </div></div>

<!-- <div id="pusher" data-key="{{PUSH_KEY}}"></div> -->
<script src="reveal/plugin/notes/notes.js"></script>
<script src="reveal/plugin/highlight/highlight.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<!-- <script src="audioVisual.js"></script> -->
<!-- <script src="demos.js"></script> -->

<script type="text/javascript">
// Reveal~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Reveal.initialize({

  // Display controls in the bottom right corner
  controls: true,

  // Display a presentation progress bar
  progress: false,

  // Display the page number of the current slide
  slideNumber: true,

  // Push each slide change to the browser history
  history: true,

  // Enable keyboard shortcuts for navigation
  keyboard: true,

  // Transition style
  transition: 'fade', // none/fade/slide/convex/concave/zoom

  // Transition speed
  transitionSpeed: 'default', // default/fast/slow

  // Transition style for full page slide backgrounds
  backgroundTransition: 'default', // none/fade/slide/convex/concave/zoom

  // Number of slides away from the current that are visible
  viewDistance: 2,

  // Parallax background image
  parallaxBackgroundImage: '', // e.g. "'https://s3.amazonaws.com/hakim-static/reveal-js/reveal-parallax-1.jpg'"

  // Parallax background size
  parallaxBackgroundSize: '', // CSS syntax, e.g. "2100px 900px"

  // Amount to move parallax background (horizontal and vertical) on slide change
  // Number, e.g. 100
  parallaxBackgroundHorizontal: '',
  parallaxBackgroundVertical: ''

});
</script>


</body>
</html>